html,
body {
  margin: 0;
  background-color: rgb(10, 128, 128);
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  margin: 16px;
  border: 1px solid black;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.w95Window {
  width: 100%;
  height: 100%;
}
