html,
body {
  margin: 0;
  background-color: rgb(10, 128, 128);
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.w95Window {
  border: 1px solid black;
}
